.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px; /* Adjust for fixed navbar */
  }
  
  .menu-item {
    background-color: #444;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 220px; /* Adjust width to fit the image and padding */
  }
  
  .menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    width: 200px;
    height: 150px;
  }
  
  .menu-item h3 {
    margin: 10px 0 5px 0;
  }
  
  .menu-item p {
    margin: 5px 0;
  }
  
  .menu-item button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #ff6347;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .menu-item button:hover {
    background-color: #ff4500;
  }
  